
<h2>Text Field</h2>
<aly-text-field field="title" [item]="item"></aly-text-field>

<h2>Html Field</h2>
<aly-html-field field="description" [item]="item"></aly-html-field>

<h2>Image Field</h2>
<aly-image-field field="image" [item]="item"></aly-image-field>

<h2>Background Image Field</h2>
<aly-background-image-field field="image" [item]="item" width="300px" height="200px"><div style="text-align: center; color: white">HOLA</div></aly-background-image-field>

<h2>Link Field</h2>
<aly-link-field field="cta" [item]="item"><p>CLIKKAMI</p></aly-link-field>

