.field {
  cursor: pointer;
  box-shadow: 0 0 0 0.1rem rgba(38, 143, 255, 0.5);
}

.modal.html-editor-modal {
  height: 86%;
  max-height: 86%;
  width: 86%;
  max-width: 86%;

  .modal-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    
    .modal-content {
      flex: 1;
      padding: 1rem 1rem 0 1rem;
    }

    .modal-footer {
        button {
            margin: 0 0.5rem;
        }
    }
  }
}
